/* 滑条*/
.no-scroll-bar::-webkit-scrollbar {
  width: 0px !important;
}

/* https://blog.csdn.net/qq_39347364/article/details/111996581*/
*::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}

/* 使用系统字体 在部分系统表现很好*/
/* 我们至今仍未能知道桌面端浏览器字体的秘密*/
*:not(.material-icons, .mdui-icon, mdui-icon, .fa, .google-symbols) {
  font-family: -apple-system, system-ui, -webkit-system-font !important;
}

body {
  display: flex;
  margin: 0 0 0 0;
  height: 100%;
}

html {
  margin: 0 0 0 0;
  height: 100%;
}

/* 防止小尺寸图片模糊*/
* {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.gutter {
  background-color: rgb(var(--mdui-color-surface-variant));
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

a {
  color: rgb(var(--mdui-color-primary));
}